
body{
    background-color: beige;

}

.message{
    background-color: rgb(250, 245, 215);
    border-style: ridge;
    border-radius: 10px;
    
}
.message h1{
    padding-left: 3%;
}
.message p{
    padding-left: 2%;
}